.jqueryslidemenu {
	font: 12px Verdana;
	color:#000000;
	background-image:url(images/but_bg.png);
	height:36px!important;
	width: 100%;
}

.jqueryslidemenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li {
	position: relative;
	display: inline;
	float: left; 
	z-index:1000;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a {
	display: block;
	/* height:35px!important; */
	/*background: #2a88c8; background of tabs (default state)*/
	color: #000000;
	font-size:12px;
	padding:11px 10px;
	border-right: 1px solid #878787;
	color: #2d2b2b;
	text-decoration: none;
	z-index:1000;
}

* html .jqueryslidemenu ul li a {
	/*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
	background: #e6e6e6;
	height:35px!important;
	color:#000000;
	z-index:1000;
}

.jqueryslidemenu ul li a:link,.jqueryslidemenu ul li a:visited {
	color:#000000;
	z-index:1000;
}

.jqueryslidemenu ul li a:hover {
	background: #3399b9; /*tab link background during hover state*/
	color: #ffffff;

	z-index:1000;

}

/*1st sub level menu*/
.jqueryslidemenu ul li ul {
	position: absolute;
	left: 0;
	display: block;
	color: #ffffff;
	visibility: hidden;
	z-index:1000;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li {
	display: list-item;
	float: none;
	color:#ffffff;
	z-index:1000;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul {
	top: 0 !important;
	color:#ffffff;
	z-index:1000;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a {
	font:12px Verdana;
	width: 250px; /*width of sub menus*/
	padding: 9px;
	height:30px!important;
	background:#e4e4e4;
	margin: 0;
	border-top-width: 0;
	border-bottom: 1px solid #0b4d7a;
	z-index:1000; 
}

.jqueryslidemenuz ul li ul li a:hover { /*sub menus hover style*/
	background: #ffd303;
	color: #ffffff;
	font-weight:bold;
	z-index:1000;
}

/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass {
	position: absolute;
	top: 15px;
	right: 7px;
	z-index:1000;
}

.rightarrowclass {
	position: absolute;
	top: 11px;
	right: 5px;
	z-index:1000;
}